* {
    background:      rgba(10, 37, 74, 0.6);
    background-alt:  rgba(10, 30, 60, 0.8);
    foreground:      #b8d5fc;
    selected:        #1e3e6b;
    active:          #a6da95;
    urgent:          #ed8796;
}
