* {
    background:      rgba(0, 0, 40, 0.5);
    background-alt:  rgba(30, 62, 107, 0.3);
    foreground:      #b8d5fc;
    selected:        #1e3e6b;
    active:          #a6da95;
    urgent:          #ed8796;
}
