@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  background: none;
  font-size: 14px;
}

window#waybar {
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 8px;
}

button:hover {
  background: inherit;
  box-shadow: inset 0px 0px 0px 1px @text-color;
  background: @secondary;
}

tooltip {
  background-color: @main;
  border: 2px solid @secondary;
  border-radius: 8px;
}

menu {
  background-color: @main;
}

label:focus {
  background-color: #000000;
}

window#waybar.empty .modules-center {
  border: none;
  background-color: transparent;
}

#workspaces {
  margin-right: 6px;
}

#workspaces button {
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 6px;
  color: @text-color;
  transition-property: color, background-color;
  transition-duration: 0.075s;
  transition-timing-function: ease-out;
}

#workspaces button:not(.empty) {
  background-color: @secondary;
}

#workspaces button.active {
  background-color: @text-color;
  color: @secondary;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#taskbar button {
  margin: 4px 1px;
  padding: 0 3px;
  border-radius: 6px;
}

#window,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#language,
#tray,
#pulseaudio {
  margin-left: 6px;
  margin-right: 6px;
}

#battery.charging,
#battery.plugged {
  color: @sapphire;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio.muted {
  color: @text;
}

.modules-right,
.modules-left {
  padding: 0 8px;
  color: @text-color;
  background-color: @main;
  border: 2px solid @secondary;
  border-radius: 13px;
}
