@define-color main #0a254a;
@define-color text-color #b8d5fc;
@define-color secondary #1e3e6b;
@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

* {
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  background: none;
  font-size: 14px;
}

window#waybar {
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 8px;
}

button:hover {
  background: inherit;
  box-shadow: inset 0px 0px 0px 1px @text-color;
  background: @secondary;
}

#workspaces button {
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 6px;
  /*background-color: transparent;*/
  color: @text-color;
}

#workspaces button:not(.empty) {
  background-color: @secondary;
}

#workspaces button.active {
  background-color: @text-color;
  color: @secondary;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

tooltip {
  background-color: @main;
  border: 2px solid @secondary;
  border-radius: 13px;
}

menu {
  background-color: @main;
}

#window,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#language,
#tray,
#workspaces,
#taskbar,
#pulseaudio {
  border-radius: 15px;
  background-color: transparent;
  margin-left: 6px;
  margin-right: 6px;
}

window#waybar.empty .modules-center {
  border: none;
  background-color: transparent;
}

.modules-right,
.modules-left,
.modules-center {
  padding: 0 4px;
  color: @text-color;
  background-color: @main;
  border: 2px solid @secondary;
  border-radius: 13px;
}

#battery.charging,
#battery.plugged {
  color: @sapphire;
}

@keyframes blink {
  to {
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#pulseaudio.muted {
  color: @text;
}
